<html lang="en">
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
    </head>
    <body>
      <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".nav-collapse"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}">My project</a>
        </div>
        <div sec:authorize="isAuthenticated()">
          <form id="logoutForm" method="POST" th:action="@{/logout}">
            <input
              type="hidden"
              name="${_csrf.parameterName}"
              value="${_csrf.token}"
            />
          </form>

          <h2 class="d-flex flex-row justify-content-center">
            Welcome <span sec:authentication="name" class="ml-4"></span> |
            <button
              type="button"
              onclick="document.forms['logoutForm'].submit()"
              class="btn btn-info"
            >
              Logout
            </button>
          </h2>
        </div>
        <div sec:authorize="!isAuthenticated()">
          <a th:href="@{/login}" class="btn btn-primary">login</a>
        </div>
      </div>
    </body>
  </html>
</html>
